<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign-up Page</title>    
        <meta name="description" contents="Course_selling Website Home Page">
        <meta name="viewport" content="width=device-width, user-scalable=no">    
        <link rel="stylesheet" type="text/css" href="/static/Password_Confirmation_Page_Style/Password_Confirmation_Page_Style.css">            
    </head>

    <body>
        <header>
            <a href="/#Help">Help</a>
            <a href="/#Course">Course</a>
            <a href="/#Teacher">Teacher</a>
            <a href="/#Home#Help">Home</a>    
        </header>

            <div class="container" style=" margin-left: 35vw; margin-top:15vh;  font-size: 18px;">
                <h1>Reset your password</h1>
                {% if validlink %}
                <p>Please enter your new password twice:</p>
                <form action="." method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <p><input type="submit" value="Change my password"></p>
                </form>
                {% else %}
                <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset</p>
                {% endif %}
            </div>    
            <footer>
                <p style="font-family: 'Open Sans', sans-serif;">Created By - &nbsp; <span style="color:black;">Mr.Pijush Kishor Dey &nbsp;</span>| All Rights Reserved</p>
            </footer>  
    </body>        
</html>                