<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Sign-in Page</title>
        <meta name="description" contents="Course_selling Website Home Page">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" type="text/css" href="/static/Home_Page_Style/Home_Page_Style.css">  
        <link rel="stylesheet" type="text/css" href="/static/Registration_Pages_Style/Sign_In.css">  
    </head>

    <body>
        <header>
            <ul>
                <li><a href="/#Home">Home</a></li>
                <li><a href="/#Teacher">Teacher</a></li>
                <li><a href="/#Course">Course</a></li>
                <li><a href="/#Help">Help</a></li>
            </ul>    
        </header>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                    </div>
                {% endfor %}
            {% endif %}       
        </div>
        <div class="SignIn-form">
            <h1>Sign In Form</h1>
            <hr>
            <form method="POST" target="_self">
                {% csrf_token %}

                <p style="margin-top:22px;">Username</p><br>
                <input type="text" title="Username" name="username" placeholder="JoeBiden" size="30" autocomplete="off" autofocus required><br><br>

                <p>Password</p><br>
                <input type="password" id="pwd" name="password" minlength="8" placeholder="Enter Password" size="30" autocomplete="off" required><br><br>
            
                <button type="submit" class="button">Sign In</button>
                <br>

            </form>
            <br>        
            <p style="font-size:15px; margin:0px;">Forgot password ? <a href="/PasswordConfirmation/password_reset/">Click here</a><p>
            <br>
            <p style="font-size:15px; margin:0px;">Do not have an account ? <a href="{% url 'SignUp' %}">Create an account</a><p>
        </div>
        <footer>
            <p style="font-family: 'Open Sans', sans-serif;">Created By - &nbsp; <span style="color:black;">Mr.Pijush Kishor Dey &nbsp;</span>| All Rights Reserved</p>
        </footer>
    </body>
</html>